
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<br>
  		<img class="img-responsive center-block" src="{% static 'img/logo.jpg' %}" />
  		<br>
  		<h1><center>About Us</center></h1>
  		<br>	
  		<p>
  			Engineering Students' Group of Bhaktapur (ESGB) is an assembly of students from Bhaktapur district studying in IOE, Pulchowk Campus. It was formed by group of ethusiastic students in year 2059 B.S (February 14, 2002).
  			<br>
			The establishing objective of this group was to manage a easy transportation service for bhaktapurian students. The students of Bhaktapur couldn't apply for Hostel facility provided by Campsu, Bhaktapur being a part of Capital Valley as per the rule of the institution, hence they had to suffer a lot due to daily tiring and wasteful transportation via public vehicle of two different routes.This objective was readily fulfilled with cooperation from campus administration by providing two campus buses to fetch bhaktapurian students.
			<br>
			Soon the objectives got broader and now it has been actively working to organise various students' oriented programs like trainings, workshops and competitions for inner and outer development of student personality as well as build the bond between fellow group members and non-members. ESGB is also organising annual blood donation program in cooperation with Nepal Red Cross Society.
			<br>
			ESGB also publishes an annual technical journal "The Limelight" since 2004. Till 2012, 6 different volumes of Limelight has been published. There was gap in between due to shortened campus semester which provided students with less free time.
		</p>
  		
	

{% endblock %}