{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}
	<br>
	<h1><center>Our Gallery</center></h1>
	<div class="row">
		<div class="col-sm-4">
			<img class="img-responsive center-block" src="{% static 'img/lakurihiking.jpg' %}" /><br>
  				<p><center>Hiking to Lakuribhanjyang</center></p>
  		</div>
  		<div class="col-sm-4">
  			<img class="img-responsive center-block" src="{% static 'img/eqrelief.jpg' %}" /><br>
  				<p><center>Earthquake Relief Camp</center></p>
  		</div>
  		<div class="col-sm-4">
  			<img class="img-responsive center-block" src="{% static 'img/deusi072.jpg' %}" /><br>
  				<p><center>Deusi Bhailo</center></p>
  		
		</div>
  		
	</div>

{% endblock %}