{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    
     
    {% block title %}
    <title>Engineering Students' Group of Bhaktapur</title>
    {% endblock %}

    {% include 'head_css.html' %}
</head>

<style >
  .container{
    min-height: 1000px;
  }
</style>

<body>
  <!--header starts-->  
<div class="bddy">
<div class="header" >
          <!--div class="search-form">
                <form  method="GET" action="" >
                  <input type="text" placeholder="authors , book names ,etc" size="30" name="query" value="{{request.GET.query}}" >
                  <!input type="submit" value="">
                  <button class="btn btn-info" type="submit">SEARCH</button>                               
              </form> 
               
        
</div-->
  
</div>
  <div class="clear"></div> 
<!--header ends-->
  <!--navbarstarts-->
  {% include 'navbar.html' %}
  <!--navbar ends-->
  <div class="container">
    {% block content %}
    
    {% endblock%}

  </div>


  <!--footer starts-->   
  <div class="footer">
    <div class="footer-nav">
      <div class="row">
        <!--div class="col-sm-4">
          <img src="{% static 'img/logo.png' %}" height="150" class="img-responsive left-block" width="150">
        </div-->
        <div class="col-sm-8">
          <h1>Engineering Students' Group of Bhaktapur  </h1>
          <h2> Bhaktapur, Nepal</h2>
        </div>
          <br> 
          <a> Contact Us: esgb.edu.np <br></a>   
        <br>
        <div class="col-sm-4">
        <p>Follow us @</p>   
         <a href="http://www.facebook.com"> <i class="fa fa-facebook-square fa-2x"></i> </a> 
        <br><i class="fa fa-copyright"></i> 2016 by ESGB <br>  All rights reserved.   
         </div>        
      </div> </div> </div>
<!--footer ends-->

 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script> 
    <!--<script src="{% static 'js/bootstrap.min.js' %}"></script>-->
  
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug--> 
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <!--<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>-->
        <script>
      $('.carousel').carousel({
        interval: 1000
        animation: "slide"
        animationLoop: false
      })
    </script>
  
  </body>
</html>