{% extends 'base.html' %}

{% block content %}
	{% load staticfiles %}
	{% include 'index.html' %}
	<br>
	<div class="box">
	<br>
  		<h1><center><b>Message from President</b></center></h1>
  	  		<div class="row">
  			<div class="col-md-4">
  				<img class="img-responsive center-block" src="{% static 'img/PresidentShirishHachhethu.jpg' %}" height="0" width="150" />
  				<p><center>Shirish Hachhethu</center></p>
  			</div>
  			<div class="col-md-8">
  			<br>
  				<p style="text-align:justify">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
				This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
				This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
				
				This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information
				This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
				This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information
				This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
				This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information
				</p>

  			</div>
  		</div>
  		  		
	</div>
{% endblock%}