{% load staticfiles %}

<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="site-name">  
    <div class="row"> 
      <!--div class="col-sm-2">    
        <img src="{% static 'img/logo.jpg' %}"class="img-responsive left-block " height= "150" width="150" />
      </div-->
      <div class="col-sm-8">
        <img src="{% static 'img/name2.jpg' %}" class="img-responsive center-block " width="1100" i/>
      </div>
    </div>
  </div>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ESGB</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'home' %}"><b>Home </b><span class="sr-only">(current)</span></a></li>
        <li><a href="{% url 'committe' %}"><b>Committee</b></a></li>
        <li><a href="{% url 'activity' %}"><b>Activities</b></a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'aboutus' %}"><b>About Us</b></a></li>
        <li><a href="#"><b>Blog</b></a></li>
     </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>